<%- include("partials/header.ejs") %>
    <% if(locals.result){ %>
        <% if(result.success) {%>
            <div class="alert alert-success text-center" role="alert">Movie is added to your favorite list.</div>
        <% } else {%>
            <div class="alert alert-warning text-center" role="alert">Unable to add in your favorite list. (May be already in your list)</div>
        <% } %>
    <% } %>
    <% if(locals.movies){ %>
        <div class="movie-list">
            <% locals.movies.forEach(function (movie) { %>
                <div class="card card-movies">
                    <img src=<%= movie.Poster %> />
                    <div class="card-body">
                        <h5 class="card-title"><%= movie.Title %></h5>
                        <p class="card-text"><%= movie.Year %></p>
                        <div class="d-flex justify-content-between" style="gap: 10px;">
                            <a href="/details/<%= movie.imdbID %>" class="btn btn-primary" style="height: min-content;">More</a>
                            <form action="/addfavorite" method="post">
                                <input type="hidden" name="id" value="<%= movie.imdbID %>"/>
                                <input type="hidden" name="search" value="<%= searchInput %>"/>
                                <button type="submit" class="btn btn-success addToWatchlist">Add to Watchlist</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <div class="container mt-5">
            <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                <div class="container-fluid py-5">
                  <h1 class="display-5 fw-bold">Movies to Watchlist</h1>
                  <p class="col-md-8 fs-4">
                    This website is helps you to find the movies which you want to add in your watchlist. Also you can se the details about the movies you have searched.
                  </p>
                  <div class="home-search">
                    <form class="d-flex" role="search" action="/search" method="post">
                        <input class="form-control me-2" type="search" placeholder="Search for movies" aria-label="Search"  name="search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                  </div>
                  <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
                </div>
              </div>
        </div>
          <% } %>
<%- include("partials/footer.ejs") %>