<%- include("partials/header.ejs") %>
    <% if(locals.movies){ %>
        <div class="movie-list">
            <% locals.movies.forEach(function (movie) { %>
                <div class="card">
                    <img src=<%= movie.Poster %> />
                    <div class="card-body">
                        <h5 class="card-title"><%= movie.Title %></h5>
                        <p class="card-text"><%= movie.Year %></p>
                        <div class="d-flex justify-content-between">
                            <a href="/details/<%= movie.imdbID %>" class="btn btn-primary">More</a>
                            <form action="/add">
                                <input type="hidden" name="id" value="<%= movie.imdbID %>"/>
                                <button type="submit" class="btn btn-success addToWatchlist">Add to Watchlist</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>

    <% } %>
<%- include("partials/footer.ejs") %>