<%- include("partials/header.ejs") %>
<% if(locals.movies){ %>
    <div class="movie-list">
        <% locals.movies.forEach(function (movie) { %>
            <div class="card card-movies">
                <img src=<%= movie.poster %> />
                <div class="card-body">
                    <h5 class="card-title"><%= movie.title %></h5>
                    <p class="card-text"><%= movie.released %></p>
                    <p class="card-text"><small class="text-body-secondary">Plot: <%= movie.plot %></small>
                    <div class="d-flex justify-content-between" style="gap: 10px;">
                        <form action="/addfavorite" method="post">
                            <input type="hidden" name="id" value="<%= movie.imdbid %>"/>
                            <button type="submit" class="btn btn-danger addToWatchlist">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
<% } %>
<%- include("partials/footer.ejs") %>
